.app-wrapper {
    background-image:url('../public/images/main/bg_Marber-gray.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    /* width: auto;
    height: 100vh; */
    width: 100vw;
    height: auto;
}