*,
*::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.app-wrapper {
    /* Box sizing rules */

    /* Main page */
    background-image:url('../public/images/main/bg_Marber-gray.jpg');

    /* Gallery */
    /* background-image: url("/images/gallery/bg_ArmaReno-pink.jpg"); */
    
    display: flex;
    flex-direction: column;

    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    height: auto;
    max-width: 100vw;
    height: 100%;
    flex: 1;

}
