@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'); 

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /* color-scheme: light dark; */
    color: rgba(255, 255, 255, 0.87);
    /* background-color: #242424; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* Site colors */
    --primaryBlue:#3dc9b3;
    --primaryBlueTransparent:#3dc9b360;
    --primaryWhite: white;
    --primaryBlack: black;
    --primaryPink: #FF007F;
    --primaryPinkTransoarent: #FF007F59;

    /* Gradients */
    --gradientDark:rgba(192,192,192,1);
    --gradientBright:rgba(255,255,255,0.8);
    --gradientBrighter:rgba(255,255,255,0.45);

    /* Text-shadow */
    --textShadowDark:rgba(0,0,0,0.62);
    --textShadowBright:rgba(0,0,0,0.20);
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    
}






