.navbar-wrapper {
    display: flex;
    justify-content: space-between;

    background: linear-gradient(0deg, var(--gradientBright) 0%, var(--gradientDark) 100%); 
    width: 100%;
    height: auto;
}

.links, .user-related {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1 1 200px;
}

.link_1, .link_2, .link_3, .login, .register {
    padding: 1em;
    text-decoration: none;
    color: black;
}
