.team-card-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--gradientBright);
}

.team-card-card-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.team-card-text {
    text-align: center;
}

.h2 {
    margin-top: 0.5em;
}

.h3 {
    font-size: 3em;
    padding: 1.5em 0 1em 0;
}

.team-card-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    flex-grow: 1 1 200px;
    align-items: center;
    text-align: center;
}

.img {
    padding-bottom: 1.5em;
}

/* .img:after {
    background-color: var(--primaryBlue);
    width: 20px;
    height: 20px; 
} */


